<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room Selection</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>채팅방 입장</h1>
    <ul>
        <li><a href="/chat">입장하기</a></li>
    </ul>
</body>
</html>
