<!-- 상단 소개글, 히어로 이미지 -->
<!-- <div class="top">
    <h1 class="top-heading">소개</h1>
    <p class="top-body">채팅 기반 질문 학습 앱</p>
  </div> -->
  
  <!-- <img src="/img/studying.webp" alt="코드를 작성하는 모습" class="studying-image" width="300" height="300"> -->
  
  <!-- 웹페이지 소개 -->
  <section class="about">
    <h2 class="about-heading">GPT 기반 답변</h2>
    <p class="about-body">
      공부하는 pdf를 넣고 공부하세요! 업로드한 pdf를 기반으로 해서 답을 할것입니다!
    </p>

    <h2 class="about-heading">오픈채팅 참여</h2>
    <p class="about-body">
      모르는 질문이 있다면 오픈채팅방에 참여하여 다른 사람에게 질문하세요
    </p>
  </section>
  

  