      <!-- 상단 소개글, 히어로 이미지 -->
      <div class="top">
        <h1 class="top-heading">생성형 AI 학습 서비스</h1>
        <p class="top-body">편리한 질문</p>
      </div>

      <img src="/img/main-page.webp" alt="노트에 기록하는 모습" class="main-page" width="400" height="400">

      <!-- 최근 게시물 -->
      <!-- <section class="articles">
        <h2 class="articles-heading">최근 게시물</h2>
        
      </section> -->