      <!-- 상단 소개글, 히어로 이미지 -->
      <div class="top">
        <h1 class="top-heading">AI 학습 서비스 ARA를 소개합니다!</h1>
        <p class="top-body">모르는 게 있다면 편리하게 질문하세요!</p>
        <p class="top-description">
          공부할 때 사용하는 PDF를 업로드해서 내가 몰랐던 내용을 간편하게 질문하세요. AI가 당신의 학습을 도와드립니다.
        </p>
      </div>

      <!-- <img src="/img/main-page.webp" alt="노트에 기록하는 모습" class="main-page" width="100" height="100"> -->

      <!-- 최근 게시물 -->
      <!-- <section class="articles">
        <h2 class="articles-heading">최근 게시물</h2>
        
      </section> -->