<header>
    <h1>Welcome Back!</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/board">Board</a></li>
        </ul>
    </nav>
</header>
