<h1>등록</h1>

<form action="/register" method="POST">
    <label for="username"><b>사용자 이름</b></label>
    <input type="text" name="username" placeholder="Enter Username">

    <label for="password"><b>비밀번호</b></label>
    <input type="password" name="password" placeholder="Enter Password">

    <input type="submit" value="등록" class="btn">
</form> 